<!--The content below is only a placeholder and can be replaced.-->
<div class="pf-c-background-image">
</div>
<div class="pf-c-page" id="page-layout-default-nav">
  <header role="banner" class="pf-c-page__header">
    <div class="pf-c-page__header-brand">
      <div class="pf-c-page__header-brand-toggle">
        <button (click)="toggleSideNavState()" class="pf-c-button pf-m-plain" id="page-layout-default-nav-nav-toggle" aria-label="Global navigation" aria-expanded="true">
          <i class="fas fa-bars" aria-hidden="true"></i>
        </button>
      </div>
      <a class="pf-c-page__header-brand-link">
        <img class="pf-c-brand" src="" alt="Toolchain Logo">
      </a>
    </div>
    <div class="pf-c-page__header-tools">
      <div class="pf-c-page__header-tools-group pf-m-icons pf-screen-reader">
        <button class="pf-c-button pf-m-plain" aria-label="Help">
          <i class="fas fa-question-circle" aria-hidden="true"></i>
        </button>
      </div>
      <div class="pf-c-page__header-tools-group" *ngIf="isLoggedInUser">
        <button class="pf-c-button pf-m-plain pf-m-mobile" aria-label="Overflow actions">
          <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
        </button>
        <div class="pf-m-user pf-screen-reader">
          <div class="pf-c-dropdown">
            <button (click)="toggleDropDownState()" class="pf-c-dropdown__toggle pf-m-plain" id="page-layout-default-nav-dropdown-button" aria-expanded="false">
              {{loggedInUser.attributes.fullName}}
              <i class="fas fa-caret-down pf-c-dropdown__toggle-icon" aria-hidden="true"></i>
            </button>
            <ul class="pf-c-dropdown__menu" aria-labelledby="dropdown-collapsed-button" *ngIf="showDropDownMenu">
              <li>
                <button (click)="handleLogout()" class="pf-c-dropdown__menu-item">Log Out</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <img class="pf-c-avatar" src="{{loggedInUser.attributes.imageURL}}" alt="Avatar Image" *ngIf="isLoggedInUser">
  </header>
  <div class="pf-c-page__sidebar" *ngIf="showMenu">
    <app-side-nav></app-side-nav>
  </div>
  <main role="main" class="pf-c-page__main" style="background-color: white; padding: 1%">
    <router-outlet></router-outlet>
  </main>
</div>